<div class="header">
  <div class="container">
	<div class="row">
	  <div class="col-md-5">
		<h1>Lorenzo Baraldi</h1>
	  </div>
	</div>
	<div class="row spacer">
	  <div class="col-md-2">
		<img src="{{ "/assets/images/pic.jpg" | relative_url }}" class="img-circle" width="150"/>
	  </div>
	  <div class="col-md-9">
		Research Fellow @ <a href="http://imagelab.ing.unimore.it">AImageLab</a><br />
		<a href="http://www.unimore.it">University of Modena and Reggio Emilia</a><br />
		<ul class="list-unstyled">
		  <li>Email: lorenzo.baraldi -at- unimore.it</a></li>
		  <li>Curriculum: <a href="{{ "/assets/curriculum.pdf" | relative_url }}">C.V.</a></li>
		  <li><a href="https://scholar.google.it/citations?user=V4RuMvsAAAAJ&hl=en" class="icon"><i class="ai ai-google-scholar fa-4x"></i></a>&nbsp;<a href="https://twitter.com/lorenzo_baraldi" class="icon"><i class="fa fa-twitter fa-lg"></i></a>&nbsp;<a href="https://github.com/baraldilorenzo" class="icon"><i class="fa fa-github fa-lg"></i></a></li>
		</ul>
	  </div>
	</div>
  </div>
</div>

<div class="container">