<div class="row">
<div class="col-md-12">
  <h2>Teaching</h2>
</div>
</div>

<div class="row">
<div class="col-md-12">
	<ul>
	{% assign teachings = (site.teachings | sort: 'year') | reverse %}
	{% for t in teachings %}
		<li>
			{{ t.course }}, {{ t.role }} ({{ t.year }})
			{% if t.description %} - {{ t.description }}{% endif %}
			{% if t.links %}
				{% for link in t.links %}
				[<a href="{{ link[1] }}">{{ link[0] }}</a>]
				{% endfor %}
			{% endif %}
		</li>
	{% endfor %}
	</ul>
</div>
</div>		
